<h1> Disco Recurrance </h1>

<p>  Welcome to Disco Recurrance, a web application implementing the Recurly.js library as a payment gateway.  The site is a blog with paywalls and Recurly signup for non recurring users.  Feel free to log in as a recurring user or sign up as a non recurring user for both user experiences.  
</p>

<p> Documentation and project workflow can be found <a href='https://github.com/Mycobee/recurring-disco'>here</a> </p>
